@import "tailwindcss";
@plugin "daisyui";

/* Pour gerer le dark mode (client) */
@custom-variant dark (&:where(.dark, .dark *));
/* 🔒 On neutralise le navigateur */
:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

/* Design tokens */
@theme {
  --color-brand: #2563eb; /* couleur principale */
  --color-brand-muted: #64748b; /* secondaire / texte */
  --color-brand-dark: #0f172a; /* titres forts */

  --color-surface: #ffffff; /* fond principal */
  --color-surface-alt: #f1f5f9; /* sections */
}
