@import "tailwindcss";
@plugin "daisyui";

/* Pour gerer le dark mode (client) */
@custom-variant dark (&:where(.dark, .dark *));
/* 🔒 On neutralise le navigateur */
:root {
  color-scheme: light dark;
}

.dark {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 6rem; /* ≈ hauteur de ta navbar */
}

/* Design tokens */
@theme {
  --color-brand: #2563eb; /* couleur principale */
  --color-brand-muted: #64748b; /* secondaire / texte */
  --color-brand-dark: #0f172a; /* titres forts */

  --color-surface: #ffffff; /* fond principal */
  --color-surface-alt: #f1f5f9; /* sections */
}

.dark {
  --color-brand-muted: #94a3b8; /* texte secondaire (slate-400) */
  --color-brand-dark: #f8fafc; /* titres forts (slate-50) */

  --color-surface: #1d232a; /* fond principal (base-100) */
  --color-surface-alt: #101828; /* sections (slate-900) */
}

.light .divider::after,
.light .divider::before {
  background-color: var(--color-brand-muted) !important;
}
